---
apiVersion: {{ cluster_prometheus_apiGroup }}/v1
kind: Prometheus
metadata:
  name: {{ cluster_prometheus_namespace_serviceAccount }}
  namespace: {{ current_namespace.metadata.name }}
  labels:
    app-monitor: {{ cluster_prometheus_custom_label }}
labels:
  app-prometheus: prometheus
spec:
  replicas: 2
  serviceAccountName: {{ cluster_prometheus_namespace_serviceAccount }}
  serviceMonitorSelector:
    matchLabels:
      team: frontend
  secrets:
    - prometheus-tls
    - prometheus-proxy
    - prometheus-htpasswd
  listenLocal: true
  containers:
    - args:
        - '-provider=openshift'
        - '-https-address=:9091'
        - '-http-address='
        - '-email-domain=*'
        - '-upstream=http://localhost:9090'
        - '-htpasswd-file=/etc/proxy/htpasswd/auth'
        - -client-id=system:serviceaccount:{{ current_namespace.metadata.name }}:{{ cluster_prometheus_namespace_serviceAccount }}
        - '-openshift-service-account={{ cluster_prometheus_namespace_serviceAccount }}'
        - '-openshift-sar={"namespace": "{{ current_namespace.metadata.name }}", "verb": "list", "resource": "services"}'
        - '-tls-cert=/etc/tls/private/tls.crt'
        - '-tls-key=/etc/tls/private/tls.key'
        - >-
          -client-secret-file=/var/run/secrets/kubernetes.io/serviceaccount/token
        - '-cookie-secret-file=/etc/proxy/secrets/session_secret'
        - '-openshift-ca=/etc/pki/tls/cert.pem'
        - '-openshift-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt'
        - '-skip-auth-regex=^/metrics'
      image: 'registry.redhat.io/openshift3/oauth-proxy:v3.11'
      name: prometheus-proxy
      ports:
        - containerPort: 9091
          name: web
      resources: {}
      volumeMounts:
        - mountPath: /etc/tls/private
          name: secret-prometheus-tls
        - mountPath: /etc/proxy/secrets
          name: secret-prometheus-proxy
        - mountPath: /etc/proxy/htpasswd
          name: secret-prometheus-htpasswd